* {
  font-family: 'Fira Sans', sans-serif;
}

header {
margin:20px 20px 20px 20px;


}
.logo {
  display: inline-block;
  float: left;
  list-style-type: none;
  margin: auto;
  padding: 10px;
  font-weight: bold;
  color:black;


}

.nav {
  display: inline-block;
  float:right;
  text-align: right;
  list-style-type: none;


}
li {
  display:inline;
  padding: 3px;
}
}
body {
  background-color: #F0ECEE



}
.flex-container {
display: flex;
flex-direction: column;
height: 100px;
align-self: left;
padding: 30px;
}
.me {
 color: #FF4850
}
.nav {
  color: #88898B

}
.btn {
  background-color: #FF4850;
  border: none;
  color: #FFFFFF;
  text-align: center;
  border-radius: 15px;
  padding: 10px;
}

.btn2 {
    background-color: #FF4850;
    border: none;
    color: #FFFFFF;
    text-align: center;
    border-radius: 15px;
    padding: 10px;
    height: 40px;
    width: 300px;


}

.btn:hover {
  background-color: #CCC;
  color: #FF4850;

}

.btn2:hover {
  background-color: #CCC;
  color: #FF4850;

}
p {
  color: #88898B
}
h2 {
  font-weight: 600;
  font-weight: bold;
  font-size: xx-large;

}

@media (min-width: 768px){
  body{
    background-image: url('https://i.imgur.com/UTRgF7O.jpg');
    background-size:100%;
    background-repeat:none;
    padding: 30px;

  }

  .logo {
    margin: 0;
  }

  .header {
    display:flex;
    align-items: center;
    justify-content: space-between;
  }

  .btn {
    width:auto;
  }
.empty {
  width:auto;
  height:200px;
}
}

@media (max-width:768px){
  *{
    margin:0px 0px 0px 0px;
    padding:5px;
    border: 0px 0px 0px 0px;
  }
  header {
    margin:0px;
    padding:0;


  }

  .logo {
    width: 100%;
  }
  .nav {
    width:100%;
    text-align:left;


  }
  .btn {
    width:100%;
  }
  .btn2 {
    width:100%;
  }
  body{
      background-color: #F0ECEE

  }

  li{
    display:block;
  }
  .flex-container {
  display: block;
  align-items: center;
  flex-direction: column;
  width: 100%;
  align-self: left;
  padding: 0;
  }





}
